<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:fragment="headers">
    </div>
</head>

<body>

<div th:fragment="content">

    <div class="page-content-wrapper">
        <div class="page-content">

            <!--<h3 class="page-title">محصولات</h3>-->
            <div class="tabbable-custom ">
                <!-- start tab content-->
                <div class="tab-content">
                    <div class="tab-content">
                        <div class="portlet light">
                            <div class="portlet-body">
                                <div class="tab-content">

                                    <!--/*@thymesVar id="providerId" type="com.behrouz.server.rest.request.ProviderRequest"*/-->
                                    <form id="newProvider" th:object="${providerId}" class="form-horizontal form-row-seperated">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <!--<i class="icon-basket font-green-sharp"></i>-->
                                                    <span class="caption-subject font-green-sharp bold uppercase">تامین‌کننده جدید</span>
                                                    <span class="caption-helper"></span>
                                                </div>
                                                <div class="actions btn-set">
                                                    <button type="button" name="back" class="btn btn-default btn-circle"><i class="fa fa-angle-left"></i> بازگشت</button>
                                                    <button type="submit" class="btn green-haze btn-circle"><i class="fa fa-check"></i> ذخیره</button>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tabbable">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#tab_general" data-toggle="tab">اطلاعات کلی</a>
                                                        </li>
                                                        <!--<li>
                                                            <a href="#tab_meta" data-toggle="tab">
                                                                Meta </a>
                                                        </li>-->
                                                        <li>
                                                            <a href="#tab_images" data-toggle="tab">تصاویر</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content no-space">
                                                        <div class="tab-pane active" id="tab_general">
                                                            <div class="form-body">
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">نام: <span class="required">
                                                    * </span>
                                                                    </label>
                                                                    <div class="col-md-10">
                                                                        <!--<input type="hidden" name="id" th:value="*{id}">-->
                                                                        <input th:field="*{name}" type="text" class="form-control checkNumber" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">توضیحات: <span class="required">
                                                    * </span>
                                                                    </label>
                                                                    <div class="col-md-10">
                                                                        <textarea th:field="*{fullDescription}" class="form-control checkNumber"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">توضیحات کوتاه: </label>
                                                                    <div class="col-md-10">
                                                                        <textarea th:field="*{shortDescription}" class="form-control checkNumber"></textarea>
                                                                        <span class="help-block">نمایش در لیست تامین‌کنندگان</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">دسته بندی: <span class="required">
                                                    * </span>
                                                                    </label>
                                                                    <div class="col-md-10">
                                                                        <select th:field="*{categories}" class="form-control has-select2 cityItems" multiple="multiple" style="width:100%">
                                                                            <option th:each="dropDownCityItem : ${@providerCategories.getList()}"
                                                                                    th:value="${dropDownCityItem.id}"
                                                                                    th:text="${dropDownCityItem.text}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">وضعیت: <span class="required">
                                                    * </span>
                                                                    </label>
                                                                    <div class="col-md-10">
                                                                        <select class="table-group-action-input form-control input-medium has-select2" name="status">
                                                                            <option value="1">فعال</option>
                                                                            <option value="2">معلق</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">آدرس: <span class="required">
                                                    * </span>
                                                                    </label>
                                                                    <div class="col-md-10">
                                                                        <input type="hidden" name="id" th:value="*{id}">
                                                                        <input th:field="*{address}" type="text" class="form-control checkNumber" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <hr/>

                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="col-md-3 control-label">تلفن: <span class="required">
                                                * </span>
                                                                        </label>
                                                                        <div class="col-md-9">
                                                                            <input th:field="*{phone[0]}" type="text" class="form-control checkNumber" placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <!--<div class="form-group col-md-6">-->
                                                                        <!--<label class="col-md-3 control-label">تلفن 2: <span class="required">-->
                                                <!--* </span>-->
                                                                        <!--</label>-->
                                                                        <!--<div class="col-md-9">-->
                                                                            <!--<input th:field="*{phone[1]}" type="text" class="form-control checkNumber" placeholder="">-->
                                                                        <!--</div>-->
                                                                    <!--</div>-->
                                                                </div>
                                                                <hr/>

                                                                <div class="row">

                                                                    <div class="form-group">

                                                                        <div class="fileinput fileinput-new" data-provides="fileinput">

                                                                            <div class="fileinput-preview fileinput-exists thumbnail"
                                                                                 style="max-width: 200px; max-height: 200px;">
                                                                                <img class="img-responsive" th:src="'data:image/jpeg;base64,' + *{base64Convert(logoImage)}" alt=""/>
                                                                            </div>

                                                                            <div class="margin-top-10">
                                                                <span class="btn blue fileinput-button">
                                                                    <i class="fa fa-camera"></i>
                                                                    <span>انتخاب عکس ... </span>
                                                                    <input id="companyLogo" type="file" name="logo" accept="image/*"/>
                                                                </span>
                                                                                <span class="imageSizeError text-danger"></span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <!---->
                                                                    <!--<div class="form-group">-->
                                                                        <!--<label class="col-md-3 control-label margin-top-20">لوگو: <span class="required">-->
                                                <!--* </span>-->
                                                                        <!--</label>-->
                                                                        <!--<div class="col-md-9 margin-top-25">-->
                                                                            <!--<input name="logo" type="file"/>-->
                                                                        <!--</div>-->
                                                                    <!--</div>-->
                                                                </div>



                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="tab_meta">
                                                            <div class="form-body">
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">Meta Title:</label>
                                                                    <div class="col-md-10">
                                                                        <input type="text" class="form-control maxlength-handler checkNumber" name="metaTitle" maxlength="100" placeholder="">
                                                                        <span class="help-block">
                                                        max 100 chars </span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">Meta Keywords:</label>
                                                                    <div class="col-md-10">
                                                                        <textarea class="form-control maxlength-handler checkNumber" rows="8" name="metaKeywords" maxlength="1000"></textarea>
                                                                        <span class="help-block">
                                                        max 1000 chars </span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">Meta Description:</label>
                                                                    <div class="col-md-10">
                                                                        <textarea class="form-control maxlength-handler checkNumber" rows="8" name="metaDescription" maxlength="255"></textarea>
                                                                        <span class="help-block">
                                                        max 255 chars </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="tab_images">
                                                            <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">

                                                                <a onclick="addImageRow()" class="btn green">
                                                                    <i class="fa fa-plus"></i> افزودن تصویر </a>

                                                            </div>
                                                            <table class="table table-bordered table-hover">
                                                                <thead>
                                                                <tr role="row" class="heading">
                                                                    <th width="8%">تصویر</th>
                                                                    <th width="8%">ترتیب نمایش</th>
                                                                    <th width="10%"></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="providerImages">
                                                                <tr th:if="*{images == null || images.size() == 0}" class="text-center imageNotExist">
                                                                    <td colspan="3">تصویری ثبت نشده است</td>
                                                                </tr>
                                                                <tr th:if="*{images != null && images.size() != 0}" th:each="imageItem, iter : *{images}">
                                                                    <td>
                                                                        <a class="fancybox-button" data-rel="fancybox-button">
                                                                            <img class="img-responsive" th:src="${'data:image/jpeg;base64,' + providerId.base64Convert(imageItem.image)}" alt="">
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <input type="hidden" th:value="${imageItem.id}" th:name="'images[' + ${iter.index} + '].id'">
                                                                        <input type="text" class="form-control" th:value="${imageItem.imageOrder}" th:name="'images[' + ${iter.index} + '].sortOrder'">
                                                                    </td>
                                                                    <td>
                                                                        <input th:id="'images-'+ ${iter.index}" type="file"/>
                                                                        <!--<a href="javascript:;" class="btn default btn-sm">-->
                                                                            <!--<i class="fa fa-times"></i> Remove </a>-->
                                                                    </td>
                                                                </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end tab3-->
                    </div>
                </div>
                <!-- end tab content-->
            </div>

        </div>
    </div>

</div>

<div th:remove="tag" th:fragment="scripts">

    <script th:src="@{/assets/js/pages/providerId/providerNew.js}" type="text/javascript" ></script>

    <script type="text/javascript">
        $(document).ready(function () {

            providerNew.init();
            $('#gridTabs a[href="#tab_1"]').trigger('click');

        });
    </script>

</div>

</body>
</html>