/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/


@font-face {
    font-family: 'IRANSans';
    src: url(../fonts/IRANSansWeb.woff);
}


body, h1, h2, h3, h4, h5, h6, th, .caption .iranFont {
    font-family: 'IRANSans' !important;
}

.mrt5 {
    margin-top: 5px !important;
}
.mrt10 {
    margin-top: 10px !important;
}
.mrt15 {
    margin-top: 15px !important;
}
.mrt20 {
    margin-top: 20px !important;
}
.mrt25 {
    margin-top: 25px !important;
}
.mrt30 {
    margin-top: 30px !important;
}
.mrt35 {
    margin-top: 35px !important;
}

.mrr5 {
    margin-right: 5px !important;
}

.mrr10 {
    margin-right: 10px !important;
}

.mrr20 {
    margin-right: 20px !important;
}

.mrb5 {
    margin-bottom: 5px !important;
}
.mrb10 {
    margin-bottom: 10px !important;
}
.mrb20 {
    margin-bottom: 20px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.txt-align-left {
    text-align: left;
}

.txt-align-center {
    text-align: center;
}

.files .sr-only{
    position: inherit !important;
}

#form_wizard_1 .form-group {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.feeds li .col2 {
    width: 130px !important;
    margin-right: -130px !important;
}

.text-size-12 p {
    font-size: 12px !important;
}

.form-control {
    cursor: pointer !important;
}

hr {
    padding: 0 !important;
    margin: 0 !important;
}

.table .btn {
    margin-left: 0 !important;
}